<ion-popover-view class="pviewer-more-menu">
   <ion-content>
       <div class="list">
            <a class="item more-item item-icon-left" ng-click="bookmark()" >
              <i class="icon more-icon ion-bookmark"></i>
              Bookmark
            </a>
       
            <a class="item more-item item-icon-left" ng-click="share()">
              <i class="icon more-icon ion-android-share-alt"></i>
              Share
            </a>

            <a class="item more-item item-icon-left" ng-click="showPageFind()">
              <i class="icon more-icon ion-search"></i>
              Find in Page
            </a>

            <a class="item more-item item-icon-left" ng-click="load()">
              <i class="icon more-icon ion-refresh"></i>
              Reload
            </a>
       </div>
   </ion-content>
</ion-popover-view>