<ion-view>

    <ion-header-bar class="bar-stable" no-tap-scroll="true" menu-close>
        <h1 class="title" style="font-weight:bold">Table of Contents</h1>
    </ion-header-bar>

    <ion-content class="nav-menu-pane" has-bouncing="false">
       <div class="list">
            <a class="item" ng-click="scrollTo('patentTop')" nav-clear menu-close>Top</a>
            <a class="item" ng-click="scrollTo('patentAbstract')" nav-clear menu-close>Abstract</a>
            <a class="item" ng-click="scrollTo('patentRelated')" nav-clear menu-close>Related Patent Documents</a>
            <a class="item" ng-click="scrollTo('patentClassifications')" nav-clear menu-close>Classifications</a>
            <a class="item" ng-click="scrollTo('patentReferences')" nav-clear menu-close>References</a>
            <a class="item" ng-click="scrollTo('patentClaims')" nav-clear menu-close>Claims</a>
            <a class="item" ng-click="scrollTo('patentDescription')" nav-clear menu-close>Description</a>
       </div>
   </ion-content>
</ion-popover-view>